{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理员界面</title>
    <link rel="stylesheet" href="{% static '/static/css/administrators_css.css' %}">
    <style>
    </style>
</head>

<body>
    <div class="navigation-bar">
        <div class="navigation-bar-cell"><a href="{% url 'index' %}"><img src="/static/app01/images/首页%20(1).png" alt="">&nbsp;首页</a></div>
        <div class="navigation-bar-cell"><a href="{% url 'users' %}"><img src="/static/app01/images/我的.png" alt="">&nbsp;用户</a></div>
        <div class="navigation-bar-cell"><a href=""><img src="/static/app01/images/编辑.png" alt="">&nbsp;设置</a></div>
        <div class="navigation-bar-cell"><a href="{% url 'borrow' %}"><img src="/static/app01/images/进入.png" alt="">&nbsp;借阅</a></div>
        <div class="navigation-bar-cell"><a target="_blank" href="http://47.94.172.187:8080/">AI</a></div>
    </div>
    <div>
        <div class="left">
            <div><a class="left-cell" href="">概述</a></div>
            <div><a class="left-cell" href="">新功能</a></div>
            <div><a class="left-cell" href="">新功能</a></div>
            <div><a class="left-cell" href="">新功能</a></div>
            <div><a class="left-cell" href="">新功能</a></div>
            <div><a class="left-cell" href="">新功能</a></div>
            <div><a class="left-cell" href="">新功能</a></div>
            <div><a class="left-cell" href="">新功能</a></div>
            <div><a class="left-cell" href="">新功能</a></div>
        </div>
    </div>
    <div class="content">
        <b><div class="content-cell-top">用户信息</div></b>
        <div>
            <table>
                <tr>
                    <th class="content-cell">权限组</th>
                    <th class="content-cell">名称</th>
                    <th class="content-cell">学号</th>
                    <th class="content-cell">电子邮箱</th>
                    <th class="content-cell">专业</th>
                    <th class="content-cell">手机号</th>
                    <th class="content-cell">最后在线时间</th>
                    <th class="content-cell">创建于</th>
                    <th class="content-cell">借阅状态</th>
                    <th class="content-cell">ID</th>
                    <th class="content-cell">借阅物品名称</th>
                    <th class="content-cell">借阅物品数量</th>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>