
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="/static/app01/css/index.css">
</head>
<body>
 <div class="navigation-bar">
        <div class="navigation-bar-cell"><a href="{% url 'index' %}"><img src="/static/app01/images/首页.png" alt="">&nbsp;首页</a></div>
        <div class="navigation-bar-cell"><a href="{% url 'users' %}"><img src="/static/app01/images/我的.png" alt="">&nbsp;用户</a></div>
        <div class="navigation-bar-cell"><a href=""><img src="/static/app01/images/编辑.png" alt="">&nbsp;设置</a></div>
        <div class="navigation-bar-cell"><a href="{% url 'borrow' %}"><img src="/static/app01/images/进入.png" alt="">&nbsp;借阅</a></div>
        <div class="navigation-bar-cell"><a target="_blank" href="http://47.94.172.187:8080/">AI</a></div>
    </div>
    <div class="content">
        <div class="show">
            <div class="big_pic"><a href=""><img class="big_pic_cell" src="/static/app01/images/江船月夜.jpg" alt=""></a></div>
            <div class="small1"><a href=""><img class="small_pic_cell" src="/static/app01/images/江船月夜.jpg" alt=""></a></div>
            <div class="small2"><a href=""><img class="small_pic_cell" src="/static/app01/images/江船月夜.jpg" alt=""></a></div>
            <div class="small3"><a href=""><img class="small_pic_cell" src="/static/app01/images/江船月夜.jpg" alt=""></a></div>
            <div class="small4"><a href=""><img class="small_pic_cell" src="/static/app01/images/江船月夜.jpg" alt=""></a></div>
            <div class="small5"><a href=""><img class="small_pic_cell" src="/static/app01/images/江船月夜.jpg" alt=""></a></div>
            <div class="small6"><a href=""><img class="small_pic_cell" src="/static/app01/images/江船月夜.jpg" alt=""></a></div>
        </div>
    </div>
</body>
</html>